<?php
// fuction for resolver ipv6 using getaddrinfo
function getIPv6Address($hostname){
    $addrinfo = getaddrinfo($hostname, null, AF_INET6);
    foreach ($addrinfo as $info) {
        if ($info['family'] === AF_INET6) {
            return $info['address'];
        }
    }
    return null;
}

// domain of array
$dominio = "https://lukajsantos.com/";

// searching ipv6
$ipv6 = getIPv6Address($dominio);

//if ipv6 not work, here try again
if ($ipv6 === null) {
    echo "not found ipv6 for the domain $dominio";
    exit();
}

//send ipv6 array to upstream dns public
$dns_ipv6 = "[2606:4700:4700::1111]"; // your dns 6 or public ipv6 dns
$consulta_dns = dns_get_record($dominio, DNS_AAAA, $authns, $addtl);

if ($consulta_dns !== false) {
    print_r($consulta_dns);
} else {
    echo "Erro ao consultar o DNS IPv6.";
}
?>